*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green: #466752;
    --lightblue: #ceecf8;
    --black: #000000;
    --lightgreen: #9ecfbc;
    --orange: #f9c34b;
}

@font-face {
    font-family: NunitoSans;
    src: url(font/NunitoSans.ttf) format('truetype');
}

::selection{
    color: var(--green);
    background-color: white;
}

html, label{
    cursor: url(/img/Mouse.png) 0 0, auto;
}


body{
    background-image: url(/img/aaabstract.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'NunitoSans', sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
    overflow: hidden;
}

.fenster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightgreen);
    position: absolute; 
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 5px solid var(--green);
    top: 30%;
    left: 40%;
    
}

.titel{
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    
}

.titel h1{
    color: white;
    font-size: 1.8rem;
    font-family: 'NunitoSans', sans-serif;
    font-weight: bold;
    margin-left: 0;
}

.titel img{
    margin-right: 0;
}


.inhalt{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.5rem;
    
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    color: white;
    height: fit-content;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: inset 0 10px 10px rgba(158, 207, 188, 0.5);
    font-size: 1rem;
    padding: 0.2rem;
}

footer img{
    width: 32px;
    height: 32px;
}

.bottom_left{
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 1rem;
}

.divider{
    width: 2px;
    height: 40px;
    background-color: white;
    margin-right: 1rem;
}

.bottom_right{
    margin-right: 0;
    padding: 0.5rem;
}

.task{
    border-radius: 10px;
    color: white;
    cursor: url(/img/Pointer.png) 0 0, auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task:hover, #start{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

input{
    background-color: var(--lightgreen);
    border: 2px solid white;
    border-radius: 2px;
    margin-top: 1rem;
    font-size: 1.2rem;
}

input:focus{
    background-color: white;
}

button{
    background-color: var(--green);
    box-shadow: inset -1px -1px 0 rgba(158, 207, 188, 0.5);
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px solid var(--lightblue);
    font-weight: bold;
    margin-top: 0.5rem;
    color: white;
}

button:hover{
    box-shadow: inset 0 0 1px 2px rgba(158, 207, 188, 0.5);
}

.icon, #maske{
    user-select: none;
    -webkit-user-drag: none;  
    pointer-events: none; 
}

.draggable{
    position: absolute; 
    user-select: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.draggable p{
    color: white;
}

.desktop_icon{
    width: min-content;
    padding: 0.5rem;
    left: 20px;
}

.trash{
    top: 8px;
}

#mypc_desktop{
    top: 120px;
}

.privat{
    top: 250px;
}

.musik{
    top: 360px;
}

.desktop_icon:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    
}

.error p{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#error_icon{
    padding-bottom: 0.5rem;
}

.song{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
}
.song h3{
    margin-left: 0;
}

.song i{
    margin-right: 0;
    font-size: 1.5rem;
}

.privat_fenster{
  background-image: url(/img/matrix.gif);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.start_fenster{
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    position: absolute;
    left: 0;
    bottom: 46px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 5px solid var(--green);
    z-index: 6000;
}

.start_titel{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--green);
    padding: 1rem;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255, 255, 255, 0), var(--lightgreen), rgba(56,2,155,0));
    border-image-slice: 1;
    color: white;
    width: 100%;
    
}

.start_titel img{
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
}

.start_titel h2{
    margin-left: 0;
    font-size: 2rem;
}

.start_bottom{
    display: flex;
    align-items: center;
    margin-right: 0;
    background-color: var(--green);
    padding: 1rem;
    width: 100%;
    color: white;
    justify-content: flex-end;
    gap: 0.5rem;
}

.start_middle{
    display: flex;   
    margin: 0 0.1rem;
}

.start_items{
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 0.5rem;
}

.start_fenster_right{
    display: flex;
    flex-direction: column;
    background-color: var(--lightblue);
    width: 50%;
    padding: 1rem;
    padding-bottom: 3rem;
    gap: 1rem;
    color: var(--black);
}

.start_fenster_left{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding: 1rem;
    padding-bottom: 3rem;
    gap: 1rem;
    color: var(--black);
}

.items_bottom{
    margin-right: 0;
}

#startup, #shutdown, #login{
    height: 100vh;
    width: 100%;
    z-index: 9888;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s ease;
    overflow: hidden;
    cursor: none;
}

#startup, #shutdown{
    background-image: url(/img/nnnoise.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    width: 20%;
    height: auto;
}

.at_logo{
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 2%;
    height: auto;
}

.blackout{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 9999;
    overflow: hidden;
    position: fixed;
    top: 0;
    cursor: none;
}

#login{
    background-image: url(/img/aaabstract.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: url(/img/Mouse.png) 0 0, auto;;
    flex-direction: column;
    gap: 1rem;
    display: none;
    transition: opacity 0.5s ease;
}

.login_fenster{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 40rem;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lightgreen);
    min-width: fit-content;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 5px;
    gap: 0.5rem;
}

.dropdown-content img {
    width: 50px;
    height: auto;
    margin: 5px 0;
    border: 1px solid transparent;
    transition: border 0.3s;
}

.dropdown-content img:hover {
    border-color: var(--green);
}

.dropdown:hover .dropdown-content {
    display: grid;
}


#previewImage {
    margin-top: 20px;
    max-width: 200px;
}

#label_name{
    font-size: 1.2rem;
}

textarea{
    background-color: var(--black);
    resize: none;
    width: 20rem;
    height: 10rem;
    color: white;
}

textarea:focus {
    outline: none;
}

.editor_text{
    padding: 0;
}

.calculator {
    padding: 1rem;
}

#display {
    width: 100%;
    height: 2rem;
    text-align: right;
    color: white;
}

.rechner_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.rechner_btn {
    padding: 20px;
    font-size: 1.1rem;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.rechner_btn:hover {
    background-color: var(--black);
}

.internet_text p{
    color: white;
}


.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image: url(/img/crack_textur.jpg);
    mix-blend-mode: lighten;
    pointer-events: none;
    display: none;
    background-size: 100% 100%;
    z-index: 8000;
}


.mypc_inhalt p{
    color: white;
    width: 50%;
}

.mypc_inhalt div{
    border-bottom: 2px solid var(--black);
    width: 100%;
}

/* Container für Balken und Bilder */
.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.bar {
    width: 5rem; /* Balkenbreite */
    text-align: center;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 10px;
}

.result-image {
    height: auto;
    margin-top: 1rem;
}

.wahl_input{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.optionen{
    display: flex;
    flex-direction: column;
}

input[type=radio]{
    margin-top: 0.1rem;
}

.optionen p, #confirmPopup p{
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;
}

#privat_fenster, #privat_task, #musik_fenster, #musik_task, #error, .start_fenster, #editor_fenster, #editor_task, #rechner_fenster, #rechner_task, #internet_fenster, #internet_task, #mypc_fenster, #mypc_task, #ergebnis_fenster, #ergebnis_task, #confirmPopup{
    display: none;
}

input, button, .titel img:hover, .song i, .start_items:hover, #start, #go, .dropdown-content img, .dropdown-btn, .rechner_btn{
    cursor: url(/img/Pointer.png) 0 0, auto;
}
